

.custom-header { background-color: #4dd551; color: white; text-align: center; padding: 20px;display: flex;
  align-items: center;
  }


  

.header-icon {
  width: 100px;
  height: 100px;
  margin-right:2rem;
  
}

/*Emojis*/

.button-container{display: flex;justify-content:center;}

.emoji-button{
  padding:1rem 6rem;
  border-radius: 10px;
  margin: 2rem;
  font-size: larger;
  font-weight: 600;
  background-color: black;
  color: azure;
}




.emoji-list{display: flex;justify-content: center;padding:2rem;background-color: #D9D9D9;margin: 4rem;

}

.emoji-span{font-size: 4rem; margin: 5px; cursor: pointer; transition: color 0.3s;}

.emoji-heading{display: flex;justify-content:flex-start;margin: 4rem;}



.emoji-span:hover {
  transform: scale(1.2); /* Slightly increase the size */}

/*Movies*/
.movies-heading{display: flex;justify-content:flex-start;margin:4rem;}

/* .movies-container{width:80%;display: flex;justify-items: center;padding: 5rem;} */

